body{
    color: #000000;
    background-color: rgb(247, 167, 247);
    font-family: 'Dancing Script', cursive;
}
.navbar{
    background-color: rgb(53, 5, 53);
    border-radius: 0;
    border: 0;
    text-align: center;
}

/* MENU CATEGORIES PAGE */
.category-tile { 
    position: relative;
    border: 2px solid rgb(53, 5, 53);
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
  }
  .category-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    background-color: rgb(53, 5, 53);
    color: #fff;
    opacity: .8;
  }
  .category-tile:hover {
    box-shadow: 0 1px 5px 1px rgb(53, 5, 53);
  }
  #menu-categories-title + div {
    margin-bottom: 50px;
  }
  /* End of categories page */

#sara{
  color: #fff;
  background-color: rgb(53, 5, 53);
  width: 50%;
  height: 30%;
  margin: 0 auto 15px;
  padding: 15px;
}










